#iw-container .iw-title {
    font-size: 22px;
    font-weight: 400;
    padding: 2px;
    padding-left: 5px;
    border: 8px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}

nav {
  width: 300px;
  position: absolute;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
}

#drawer.open {
  transform: translate(0, 0);
}

@media screen and (min-width: 800px) {
	nav {
		position: relative;
		transform: translate(0,0);
	}
	body {
		display: flex;
		flex-flow: row nowrap;
	}
	#map-container {
		/*width: 100%;*/
		padding-left: 300px;
		flex-grow: 1;
	}
}

@media screen and (max-width: 800px) {
	#map-container {
		padding-left: 0;
	}
}