#iw-container .iw-title {
    font-size: 22px;
    font-weight: 400;
    padding: 2px;
    padding-left: 5px;
    border: 8px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
