#iw-container .iw-title {
    font-size: 22px;
    font-weight: 400;
    padding: 2px;
    padding-left: 5px;
    border: 8px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}

nav {
  width: 300px;
  position: absolute;
  /* This trasform moves the drawer off canvas. */
  @media (min-width: 800px) {
	-webkit-transform: translate(-300px, 0);
	transform: translate(-300px, 0);
  }
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}
.nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.col-md-2 {
	padding: 0;
}
.col-md-10 {
	padding: 0;
}