html, body {
  height: 100%;
}

body {/*
	font-family: 'Lato', sans-serif;*/
	font-weight: 300;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #eee;
}

img {
    max-width: 100%;
    height: auto;
}

ol {
    cursor: pointer;
}

.container {
    width: 100%;
    margin: 0;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

.header-space {
	margin-top: 15px;
}

.modal-image{
	margin-right: 15px;
	margin-bottom: 15px;
	float: left;
}

.modal-body{
	margin: 10px;
	max-height: 420px;
	overflow: auto;
}

#map-container{
    height: 100vh;
    max-width: 100%;
}

#numresults{
    padding-left: 10px;
}

#map {
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	border: 2px solid #ccc;
}

.locs {
    position: absolute;
    height: 100%;
    margin-top: 50px;
    margin-left: 0px;
    padding-left: 1px;
    background: black;
    float: left;
    z-index: 1;
}

